html {
  box-sizing: border-box;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli";
  line-height: 1;
}

#app {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  padding: 1.5rem;
}
#app .info {
  position: absolute;
  bottom: 1.0rem;
  width: 95%;
}
#app .info > div {
  overflow: hidden;
  text-overflow: ellipsis;
}
#app .info > div h3 {
  display: inline-block;
  width: 100%;
  max-height: 1.5rem;
  white-space: nowrap;
  padding: 0.25rem 0 0.25rem 0.5rem;
  margin: 0 0 0.1rem 0;
  text-align: left;
  font-size: 0.6rem;
  background-color: #E0DFE1;
  color: #919092;
}
#app .info > div h3.occasion {
  border-left: 5px solid #FFC107;
}
#app .info > div h3.task {
  border-left: 5px solid #2196F3;
}
#app .info > div h3.task.help {
  border-left: 5px solid #E91E63;
}
#app .holidays {
  position: absolute;
  top: 1.0rem;
  width: 95%;
}
#app .holidays h3 {
  margin: 0 0 0.1rem 0;
  text-align: left;
  font-size: 0.6rem;
  background-color: #E0DFE1;
  color: #919092;
  padding: 0.25rem 0 0.25rem 0.5rem;
  border-left: 5px solid #1DE9B6;
}
#app h2 {
  font-size: 1.2rem;
  color: white;
}
#app .view {
  width: 75%;
  margin-right: 1%;
  float: left;
  margin-bottom: 2rem;
}
#app .view .mdl-card {
  width: 100%;
}
#app .display-header {
  background-color: #64B5F6;
  color: white;
  max-height: 50px;
  padding: 0.5rem;
}
#app .display-header .left {
  float: left;
}
#app .display-header .right {
  float: right;
}
#app .display-header h2 {
  display: block;
  margin: 0 auto;
}
#app .days-header {
  background-color: #BBDEFB;
  padding: 0;
  max-height: 40px;
}
#app .days-header.week ul li {
  width: 13.14%;
}
#app .days-header.week ul li.time-zone {
  width: 8%;
}
#app .days-header ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: block;
}
#app .days-header ul li {
  padding: 0.5rem 0;
  display: inline-block;
  width: 14.28%;
  height: auto;
  text-align: center;
  border-right: 1px dotted #777;
  box-sizing: border-box;
  font-size: 14px;
  color: #777;
}
#app .days-header ul li:last-child {
  border-right: none;
}
#app .week-display {
  margin-top: 0.2rem;
}
#app .week-display .time-row {
  border-bottom: 1px dotted #ddd;
}
#app .week-display .time-row:last-child {
  border-bottom: none;
}
#app .week-display ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  margin-bottom: -0.25rem;
}
#app .week-display ul li {
  position: relative;
  display: inline-block;
  height: 4rem;
  box-sizing: border-box;
  border-right: 1px dotted #ddd;
  width: 13.14%;
  overflow: hidden;
  padding: 0.5rem 0;
}
#app .week-display ul li:last-child {
  border-right: none;
}
#app .week-display ul li.time {
  width: 8%;
  text-align: right;
  vertical-align: top;
  font-size: 0.75rem;
  padding-right: 0.25rem;
  background-color: #FFECB3;
  border-bottom: 1px dotted white;
}
#app .task-list {
  border: 1px solid black;
  width: 23%;
  float: left;
  text-align: center;
  margin-bottom: 1.5rem;
}
#app .task-list .task-list-header h2 {
  margin: 0;
  border-bottom: 1px solid white;
  background-color: #00B9FF;
  padding: 0.5rem;
}
#app .task-list h3 {
  margin-left: 1rem;
}
#app .task-list h3, #app .task-list span.legend {
  text-align: left;
  font-size: 0.875rem;
  color: #919092;
  margin: 0.5rem 2rem;
  padding-left: 0.25rem;
}
#app .task-list h3.occasion, #app .task-list span.legend.occasion {
  border-left: #FFC107;
}
#app .task-list h3.task, #app .task-list span.legend.task {
  border-left: #2196F3;
}
#app .task-list h3.task.help, #app .task-list span.legend.task.help {
  border-left: #E91E63;
}
#app .task-list .occasions h2 {
  background-color: #FCB258;
  margin: 0.5rem;
}
#app .task-list .tasks h2 {
  background-color: #BA77FF;
  margin: 0.5rem;
}
#app .task-list span.legend {
  display: inline-block;
  font-size: 0.6rem;
}
#app .task-search {
  border: 1px solid black;
  width: 23%;
  float: left;
  text-align: center;
}
#app .task-search .task-search-header h2 {
  margin: 0 0 0.5rem 0;
  border-bottom: 1px solid white;
  background-color: #00B9FF;
  padding: 0.5rem;
}
#app .task-search input {
  margin: 0.5rem;
  width: 80%;
  height: 2rem;
  border: 2px solid #E0DFE1;
  border-radius: 4px;
  padding-left: 0.25rem;
}
#app .task-search h2.results {
  margin: 0.5rem;
  background-color: #50D2C2;
}
#app .task-search ul {
  text-align: left;
  padding: 1rem 2rem;
  list-style: none;
}
#app .task-search ul li {
  border-left: 8px solid #E0DFE1;
  padding-left: 0.5rem;
  color: #919092;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
#app .week {
  border-bottom: 1px dotted #ddd;
}
#app .week:last-child {
  border-bottom: none;
}
#app .day {
  height: 150px;
  width: 14.28%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  border-right: 1px dotted #ddd;
  margin-bottom: -0.25rem;
}
#app .day:last-child {
  border-right: none;
}
#app .day.today span.num {
  background-color: #FFC107;
  color: white;
}
#app .day.selected span.num {
  background-color: #448AFF;
  color: white;
}
#app .day span.num {
  display: inline-block;
  width: 1.6rem;
  height: 1.3rem;
  padding-top: 0.3rem;
  text-align: center;
  color: #919092;
  background-color: #F4F4F4;
  border-radius: 50%;
  font-size: 0.75rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
#app .login-form-box {
  width: 30%;
  margin: 15% auto 0;
  border: 2px solid #00B9FF;
  border-radius: 4px;
}
#app .login-form-box h1 {
  color: white;
  background-color: #00B9FF;
  font-family: Muli;
  text-align: center;
  margin-top: 0;
}
#app .login-form-box input {
  width: 50%;
  display: block;
  margin: 0 auto 1rem;
}
#app .login-form-box button {
  background-color: white;
  border: 2px solid #00B9FF;
  border-radius: 4px;
  color: #00B9FF;
  font-family: Muli;
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}
#app .login-form-box p {
  text-align: center;
}
